
table{
    
    border-spacing: 1px ;
    text-align: center;
    padding: 10px;
    max-width: 595px;
    border-collapse: separate;
}

th,td{
    padding: 15px 15px  15px 15px;
    position: sticky;
    /* color: #59bbe4; */
}
th{
    background-color:#003366;
    color: #74C0FC;
    font-weight: 400;
}
.family-table{

    height: 500px;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

}

  
.display-container{

    /* font-size: 16px; */
    display: block;
    /* margin: 0 ; */
    text-align: left;
    overflow-y: scroll;
    scroll-behavior: smooth; 
    max-height: 700px ;
   padding: 15px;
     
  }
/* 
.family-table{

    overflow-y:scroll;
    height: 150px;
} */