
/* //Responsive feDiffuseLighting */
/* @media (min-width:1201px) and (max-width: 1800px) {
    body{
        font-size: 30px;
    }
    .main-container{
        height: 800px;
    }
    button,select,input {
        font-size: 30px;
        width: 500px;
        height: 50px;
    }
}
*/




@media (min-width: 769px) and (max-width: 1200px) {
    body{
        font-size: 35px;
        
    }
   
  
    button,select,input {
        font-size: 35px;
        width: 600px;
        height: 60px;
    
        margin-bottom: 35px;
    }
    .main-container{
        height: 1000px;
    }   

    .display-container{
        overflow: scroll;
        scroll-behavior: smooth;
        max-height: 750px;
    }
    .top-menu-bar{
        height: 130px;
    }

    .header-banner{
        height: 150px;
    }
   
}


@media (min-width: 400px) and (max-width: 768px) {
    body{
        font-size: 20px;
    }
    button,select,input {
        font-size: 20px;
        width: 300px;
        height: 20px;
    }

    select{
    height: 30px;
    }

    .main-container{
        height: 520px;
    }
    .display-container{
        overflow: scroll;
        scroll-behavior: smooth;
        max-height: 350px;
    }
}