
  
  
 body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.header-banner{
    /* background-color: darkgreen; */
    height: 100px;
    display: flex;
}
#username-header{
    color: #74C0FC;
}
.user-pic{
    height: 95px;
    width: 50px;
}
.caption{
    flex: 1;
    display: flex;
    align-items: center;
}
h2{
    color: #74C0FC;
}
.top-menu-bar{
    background-color: White;
    height: 100px;
    width: 100%;
    border:2px solid #74C0FC;
    border-radius: 3px;
}
.logo{
    margin: 10px 10px;
    padding: 15px 15px 15px 15px;
    display: flex;
    height: 50px;
    border:3px  solid #74C0FC;
    align-items: center;
    border-radius: 3px;
}
.user-image{
    border: 2px solid #74C0FC;
    border-radius: 3px;
    height: 90px;
}
.main-container{
    height: 570px;
    background-color: white;
    border: 2px solid #74C0FC;
}

.user-form{
   margin: 5px;
    
}

.display-container{
    background-color: white;
    width: 100%;
}

.botton-mune-bar{
    height: 100px;
    width: 100%;
    background-color: white;
    border: 3px solid #74C0FC;
}

.footer-banner{
    height: 200px;
}

.banner-color{
    background-color: #003366;
}

.main-coontainer{
    display: flex;
    flex-direction: column;
    
}

.horizontal-container{
    display: flex;
    width: 100%;
    background-color: antiquewhite;
}
.menu-ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.top-menu{
    margin-block-start:auto;

}
.icon{
    margin: 35px 5px;
    padding: 5px 5px;

}

#clear{
    cursor: pointer;
}
#submit{
    cursor: pointer;
}
#update{
    cursor: pointer;
}
#delete{
    cursor: pointer;
}

#home,#event,#task,#reminder,#address,#user,#family{
    cursor: pointer;
}

/* 
@media only screen and (max-width: 768px) {
    .header-banner {
       
    }

    .top-menu-bar {
       
    }

    .main-container {
       
    }

    .botton-mune-bar {
      
    }
} */
 
 
 /* Long weekend listing  */
    
  .display-container{

    /* font-size: 16px; */
    display: block;
    /* margin: 0 ; */
    text-align: left;
    overflow-y: scroll;
    scroll-behavior: smooth; 
    height: 500px ;
   padding: 15px;
     
  }
  /* .menu_ul{
      margin-top: 5px;
    border: 1px solid;
    border-radius: 10px;
    background-color: antiquewhite;
  } */
  .ul-long{
    /* margin-top: 10px 15px; */
    padding: 10px;
    /* border: 1px solid; */
    /* border-radius: 10px; */
    background-color: white;
    word-spacing: auto;
    width: 90%;
  }
  ul .li-long{
    margin-top: 0;
    /* border: 1px solid;
    border-radius: 10px; */
    /* background-color: antiquewhite; */
  }
  li{


    display: flex;
    align-items: flex-start;
    justify-content: left;
    font-size: 15px;
    padding: 0;
    

  }
  .container {
    display:flex;
    /* justify-content: flex-start; */

    border: 3px solid #74C0FC;
    padding: 5px;
    white-space: unset;
  }

.user-image {
    
    /* flex: 1; */
    /* width:20%; */
    border: none ;
    /* justify-content: center; */

}

.event-list {
    /* flex:1; */
    /* width:80%; */
    margin-left: 20px;
    
    
}


.img-user{

    height: 170px;
    width: 170px
   
}

.botton-mune-bar{
    height: 100px;
    width: 100%;
    background-color: white;
    border: 3px solid #74C0FC;
    
}


/* //Responsive feDiffuseLighting */

@media (min-width:1201px)  {
    body{
        font-size: 35px;
    }
    .main-container{
        height: 700px;
    }
         
    .display-container{
        overflow: scroll;
        scroll-behavior: smooth;
        max-height: 650px;
    }
    /* .top-menu-bar{
        height: 130px;
    } */
    .botton-mune-bar{
        height: 150px;
    }
    .top-menu-bar{
        height: 130px;
    }
    .header-banner{
        height: 150px;
    }
    li{
        font-size: 35px;
       }
       
    .img-user{

        height: 250px;
        width: 250px;
        align-items: center;
        
    
    }
}



@media (min-width: 769px) and (max-width: 1200px) {
    body{
        font-size: 35px;
        
    }
   
    .main-container{
        height: 1000px;
    }   
    .container{
        width: 95%;
    }
    .display-container{
        overflow: scroll;
        scroll-behavior: smooth;
        height: 950px;
    }
    .top-menu-bar{
        height: 130px;
    }
    .botton-mune-bar{
        height: 150px;
    }
    .header-banner{
        height: 150px;
    }
   li{
    font-size: 35px;
   }
   
   .img-user{

    height: 200px;
    width: 200px;
    align-items: center;
    

}
}


@media (min-width: 400px) and (max-width: 768px) {
    body{
        font-size: 20px;
    }
  
    .main-container{
        height: 500px;
       
    }
    .display-container{
        overflow: scroll;
        scroll-behavior: smooth;
        max-height: 450px;
         
    }
    li{
        font-size: large;
    }
        
    .img-user{

        height: 120px;
        width: 120px;
        align-items: center;
        
    
    }

}